body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: #ffffff;
}

img {display: block;
    margin-left : auto;
    margin-right :auto;
    border: 5px solid #00004d;
}

h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #ffffff;
    text-align: center;
  }
  
header {
    background:#00004d ;}